a,
button,
input {
	border-radius: 0.2rem;
	background-color: transparent;
	color: black;
	border: none;
	font: inherit;
	padding: 0.2rem 0.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	flex: 1;
	border: 0.2rem solid transparent;
	&:hover {
		border: 0.2rem solid hsla(0, 0%, 100%, 0.6);
	}
	&:active {
		opacity: 0.8;
	}
	text-decoration: none;
}

a,
button {
	background-color: hsl(0, 0%, 80%);
	text-align: center;
  cursor: pointer;
}

input {
	border: hsl(0, 0%, 80%) 0.2rem solid;
	color: hsl(0, 100%, 100%);
}

.bg-red {
	background-color: hsl(0, 60%, 70%);
}
.bg-yellow {
	background-color: hsl(44, 81%, 72%);
}
.bg-green {
	background-color: hsl(123, 59%, 70%);
}
.bg-blue {
	background-color: hsl(200, 60%, 70%);
}

.mini {
	font-size: 0.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.code {
  font-family: monospace;
  background-color: hsl(0, 0%, 40%);
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  border: 0.2rem solid transparent;
  overflow-x: auto;
  white-space: nowrap;
}

.dark-block {
  background-color: hsl(0, 0%, 00%);
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  text-align: center;
  border: 0.2rem solid transparent;
}
